footer {
    text-align: center;
    padding: 2rem 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--color-blanco);
}

footer nav a {
    margin: 0 10px;
    font-size: 0.9rem;
    color: wheat;
}

footer nav a:hover {
    text-decoration: underline;
}