main {
    display: flex;           
    justify-content: center;  
    align-items: center;          
    width: 100%;
}

form  {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
    background-color: rgba(49, 49, 49, 0.9);
    border-radius: 25px;
    width: fit-content;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    width: 33%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input {
    background-color: beige;
    border-radius: 12px;
    width: 75%;
    height: 32px;
}
input[type="submit"] {
    background-color: fuchsia;
    border-radius: 24px;
    width: 100%;
    height: 64px;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 32px;
}

@media (max-width: 768px) {
    form {
        width: 75%;
    }
}