.header {
    display: flex;
    background-color: #090f2e; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 2000;
    font-family: 'Roboto Mono', monospace;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; /* Empuja logo a la izquierda y nav a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.logo i { color: #3b82f6; }

/* Hamburguesa */
.hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
    z-index: 1002;
}

.hamburger::before { content: "\2630"; }

.menu-toggle { display: none; }

/* Menú Móvil */
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #090f2e; /* Fondo oscuro sólido */
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    z-index: 1001;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px; 
}

.nav-list a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px; /* Espaciado interno del clic */
    display: flex; /* Para alinear icono y texto */
    align-items: center;
    justify-content: center;
    gap: 10px; /* Separa el icono del texto */
}

.menu-toggle:checked ~ .nav { height: 260px; }

/* Desktop */
@media (min-width: 768px) {
    .hamburger { 
        display: none; 
    }

    /* Forzamos al contenedor a empujar los elementos a los extremos */
    .container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .nav {
        position: static;
        height: auto !important;
        background-color: transparent;
        display: block; /* Volvemos a block para que el ancho sea automático */
        margin-left: 0; /* Limpiamos cualquier margen previo */
    }

    .nav-list {
        display: flex;
        flex-direction: row; /* Ponemos los items en fila */
        gap: 30px; /* Espaciado entre botones */
        padding: 0;
        margin: 0;
        justify-content: flex-end; /* Asegura que la lista se alinee al final */
    }

    .nav-list a {
        font-size: 1rem;
        padding: 5px 10px;
        white-space: nowrap; /* Evita que el texto se parta */
    }

    .nav-list :hover {
        color:#3b82f6;
    }
}