/* --- 1. Variables y Reset --- */
:root {
  --color-principal: #090f2e; /* Azul oscuro original */
  --color-secundario: #3b82f6;
  --color-acento: #1e318c;
  --color-fondo: #f3f4f6;
  --color-blanco: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
}

/* --- 2. Estructura Grid y Fondo Espacial --- */
body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
      "header"
      "main"
      "footer";
  /* Fondo original de estrellas */
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--color-principal);
}

header { grid-area: header; }
main   { grid-area: main; }
footer { grid-area: footer; }

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}